<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Create your landmark</title>
  </head>
  <body>
    <h1>Create new Landmark!</h1>
<br></br>

<form action="/landmarks" method="post">
  <label>Name:</label>
  <input type="text" name="landmark[name]" id="landmark_name">

  <br></br>

  <label>Year Completed:</label>
  <input type="number" name="landmark[year_completed]" id="landmark_year_completed">

  <br></br>

  <input type="submit" value="Create New Landmark">
</form>

  </body>
</html>
